<!doctype html>
<html>
   <body>
   

         
         {% for row in rows %}
           
              <form action="{{ url_for('update_entry', update_id=row['id']) }}" method="post">  
              <td><b>ID</b></td> <br><td><input type = "text"  name="update_id" value="{{row["id"]}}" /></td><br><br> 
              <td><b>Name</b></td> <br><td><input type = "text" name="nm" value="{{row["name"]}}"  /></td><br> <br>
              <td><b>Address</b></td> <br><td><input type = "text" name="add" value="{{row["addr"]}}" /></td><br><br>
              <td><b>City</b></td> <br><td><input type = "text" name="city" value="{{row["city"]}}" /></td><br><br>
              <td><b>Pin</b></td> <br><td><input type = "text" name="pin" value="{{row["pin"]}}"   /> </td><br><br>
               <input type="Submit" value="Update">
	     
{% endfor %}

    

      <br />
      <h3><a href = "/student">add data</a></h2>

      <br />      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>
